:root {
    --red: "#ff3231";
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: 'Lilita One', sans-serif;
    background-color: whitesmoke;
}

.container {
    display: flex;
    margin: 24px;

}

.pokemon-card {
    background-color: #c7c7c7;
    width: 400px;
    height: 500px;
    border: 5px solid #0b0b0b;
}

.pokemon-card p {
    max-width: 100%;
    background-color: #ff3231;
    font-size: 56px;
    position: inherit;
    text-align: center;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

.pokemon-card img {
    max-width: 100%;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.pokemon-stats {
    padding: 0;
    margin-top: 56px;
    margin-left: 24px;
}

.pokemon-stats p {
    font-size: large;
    color: #0b0b0b;
}

.pokemon-stats a {
    font-size: large;
    color: #0b0b0b;
    text-decoration: none;
}

.pokemon-stats a:hover {
    color: #ff3231;
    text-decoration: underline;
}

.pokemon-more {
    margin-left: 24px;
}

.pokemon-more li {
    width: 86px;
    height: 86px;
    margin: 12px;
    background-color: #ff3231;
    display: inline-block;
    border-radius: 50%;
    list-style: none;
}

.pokemon-more a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
}

.pokemon-more li:hover {
    background-color: whitesmoke;
}

.pokemon-more a:hover {
    color: #0b0b0b;
    text-decoration: underline;
}